# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

# IDE
.idea/
*.iml
*.ipr
*.iws

# Operating System
.DS_Store
Thumbs.db

# Spring Boot
*.log
HELP.md
mvnw
mvnw.cmd
